<!DOCTYPE html>
<html lang="{{ site.locale }}">
  <head>
    <meta charset='utf-8'>
    <meta http-equiv="X-UA-Compatible" content="chrome=1">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <link href='https://fonts.googleapis.com/css?family=Architects+Daughter' rel='stylesheet' type='text/css'>
    <link rel="stylesheet" type="text/css" href="{{ site.baseurl }}/stylesheets/stylesheet.css" media="screen" />
    <link rel="stylesheet" type="text/css" href="{{ site.baseurl }}/stylesheets/pygment_trac.css" media="screen" />
    <link rel="stylesheet" type="text/css" href="{{ site.baseurl }}/stylesheets/print.css" media="print" />

    <!--[if lt IE 9]>
    <script src="//html5shiv.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->

    <title> {{ page.title }} </title>
  </head>

  <body>
    <header>
      <div class="inner">
        <h1> {{ site.name }} </h1>
        <h2>{{site.description}}</h2>
          <a href="https://github.com/dmorfav" class="button-github"><small>Sigueme en</small> GitHub</a> 
          <a href="https://www.linkedin.com/in/dmorfav" class="button-linkedin"><small>Sigueme en</small> Linkedin</a> 
          <a href="https://twitter.com/dmorfav" class="button-twitter"><small>Sigueme en</small> Twitter</a>
      </div>
    </header>

    <div id="content-wrapper">
      <div class="inner clearfix">
        <section id="main-content">
          
          {{ content }}

        </section>

        <aside id="sidebar">
          <h3>Destacados</h3>
          <a href="https://github.com/dmorfav/Knapsack" class="button">
            Knapsack
            <small>Proyecto investigativo</small>
          </a>
          <a href="https://github.com/dmorfav/DMirror" class="button">
            Mirrors
            <small>Script para debmirrors</small>
          </a>
          <p><i>@dmorfav</i></p>
        </aside>
      </div>
    </div>

  </body>
</html>
